<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Midterm Project</title>



	<!-- jquery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>

	<!-- angular -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>

	<!-- Underscore -->
	<script type="text/Javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>

	<!-- bootsrap.js -->
	<script rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>

	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">

	<!-- js -->
	<script type="text/javascript" src="main.js"></script>

	<!-- css -->
	<link rel="stylesheet" type="text/css" href="main.css">

</head>

<body ng-controller="myController">

<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  </div>
</nav> -->

<div class="container container1">

 	<div class="container-fluid">
  		<div class="col-xs-12 login">
  			<div class="col-xs-1">
  				<img ng-click="home()" class="logo" src="assets/logo.png">
  			</div>
  			<div class="col-xs-5">
  				<h3>Outdoor Gear Exchange</h3>
  			</div>
  			<div class="col-xs-4 col-xs-offset-2 sectionNav">
				<button ng-click="myAccount()" class="btn btn-default btn-info">My Account</button>
  			<button ng-click="allBids()" class="btn btn-default btn-success">Browse All Items</button>
			</div>
  		</div>

  </div>

	<!-- Buttons to toggle between MY BIDS and ALL BIDS -->

	<!-- MY ACCOUNT -->

	<div id="myAccount" class="container hidden">


		<div class="row">
			<div class="col-xs-6">
				<img class="img-thumbnail img-responsive profpic" src="assets/profilePic.jpg">
				<h3>dana_ress</h3>
				<h4>Boulder, CO</h4>
			</div>
			<div class="col-xs-6">
				<table class="table table-striped table-responsive table-bordered tableRows">
					<tr class="tableRows">
						<td>Item</td>
						<td>Starting Price</td>
						<td>Current Bid</td>

					</tr>
					<tr ng-repeat="tableRow in matches">
						<td>{{tableRow.title}}</td>
						<td>${{tableRow.price[tableRow.price.length - 1]}}</td>
						<td>${{tableRow.price[0]}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<button data-toggle="modal" data-target="#myModal" ng-click="addBid()" class="btn btn-warning submitButton">Add New Item</button>
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  					<div class="modal-dialog modal-border" role="document">
    						<div class="modal-content">
						 		<div id="myBids" class="container hidden">
									<form role="form">
								  		<div class="form-group row">
								  			<div class="col-xs-4">
								    			<input ng-model="Item.title" type="text" class="form-control spacing" placeholder="Name of Item" id="title">
								    		</div>
								 		</div>
								 		<div class="form-group row">
								 			<div class="col-xs-4">
								 		 		<input ng-model="Item.description" type="text" class="form-control" placeholder="Description">
								 		 		<input ng-model="Item.username" type="hidden" style="{display: 'hidden'}" class="form-control" value="dana_ress">
								 		 	</div>
								 		</div>
								 		<div class="form-group row">
								 			<div class="col-xs-4">
								   				<label for="exampleInputFile">File input</label>
								    			<input ng-model="Item.image" id="imageinput" onchange="angular.element(this).scope().checkFile(this)" type="file" required>
								    		</div>
								  		</div>
								  		<div class="row">
								  			<div class="input-group col-xs-3">
								  			
								      			<div class="input-group-addon">$</div>
								      			<input ng-model="Item.price" type="number" class="form-control" id="exampleInputAmount" placeholder="Amount">
								      		</div>
								      	</div>
								      		<button ng-click="addDetails()" class="spacing btn btn-info">Add More Details</button>
								    			<div class="row">

								    				<div id="details" class="col-xs-4 hidden spacing">
								    					<input ng-model="Item.details.Manufacturer" type="text" class="form-control" placeholder="Manufacturer" id="title">
								    					<input ng-model="Item.details.Model" type="text" class="form-control spacing" placeholder="Model Name" id="title">
								    					<input ng-model="Item.details.Color" type="text" class="form-control spacing" placeholder="Color" id="title">
								    					<input ng-model="Item.details.Level" type="text" class="form-control spacing" placeholder="Experience Level" id="title">
								    					<input ng-model="Item.details.Size" type="text" class="form-control spacing" placeholder="Size" id="title">
								    					<input ng-model="Item.username" type="text" class="form-control spacing" placeholder="username" id="title">
								    				</div>
								    			</div>
								    		<div class="col-xs-3">
								  			<button ng-click="addItem()" type="submit" class="btn btn-warning btn-special spacing">Submit</button>
								  			</div>
									</form>
								</div>   						 	
    						</div>
  					</div>
				</div>
				<h3 class="forsale">My Items For Sale:</h3>
		</div>
	<!-- Add Bid Form Start -->

	<!-- Add Bid Form Ends & MY Items Starts -->


		<div ng-repeat="myOtherItems in matches1">

		<div class="container col-xs-5 itemBox">
			<div class="row">
				<h2 class="itemTitle col-xs-12">{{myOtherItems.title}}</h2>
			</div>
			<div class="row">
				<p class="col-xs-4 originalPrice">Starting Bid ${{myOtherItems.price}}</p>
				<br>
<!-- 				<button class="col-xs-4 col-xs-offset-4 btn btn-sm btn-info">More Info</button> -->

			</div>
			<div class="row">
				<img class="itemImage col-xs-6 itemImage" ng-src="{{myOtherItems.image}}"></img>
				<div class="baseline">
					<h3 class="col-xs-10">Current Bid: ${{myOtherItems.price}}.00</h3>
				</div>
				<div class="col-xs-6">			
						<table class="moreInfo table">
							<tr ng-repeat="(key, value) in myItems.details">
								<td>{{key}}</td>
								<td>{{value}}</td>
							</tr>
						</table>
					</div>
			</div>			
			
		</div>
	</div>




		<div ng-repeat="myItems in matches">

		<div class="container col-xs-5 itemBox">
			<div class="row">
				<h2 class="itemTitle col-xs-12">{{myItems.title}}</h2>
			</div>
			<div class="row">
				<p class="col-xs-4 originalPrice">Starting Bid ${{myItems.price[myItems.price.length -1]}}</p>
				<br>
<!-- 				<button class="col-xs-4 col-xs-offset-4 btn btn-sm btn-info">More Info</button> -->

			</div>
			<div class="row">
				<img class="itemImage col-xs-6 itemImage" ng-src="{{myItems.image}}"></img>
				<div class="baseline">
					<h3 class="col-xs-10">Current Bid: ${{myItems.price[0]}}.00</h3>
				</div>
				<div class="col-xs-6">			
						<table class="moreInfo table">
							<tr ng-repeat="(key, value) in myItems.details">
								<td>{{key}}</td>
								<td>{{value}}</td>
							</tr>
						</table>
					</div>
			</div>			
			
		</div>
	</div>
	</div>

	<!-- All BIDS section -->

<div id="allBids" class="hidden container">
<div class="row bigbox">
	<div class="activeItems">


  	<div class="filters col-xs-12">
  	<form class="form-inline">
  		<div class="form-group">
  		<div ng-repeat="category in categoriesList">
			<input type="checkbox" class="" ng-click="updateFilter(category)"><span> {{category}}</span><br>
		</div>
		</div>

				<div class="form-group">
					<input type="search" ng-model="searchText" class="form-control filterSearch" placeholder="Search"></input>
				</div>
				<div class="form-group">

				 </div>
		</div>
		</form>	
  	</div>

<!-- New Items added through My Account page -->	
		<div ng-repeat="activeItems in newerItems">

		<div id="{{activeItems.category}}" class="container col-xs-5 itemBox">
			<div class="row">
				<h2 class="itemTitle col-xs-12">{{activeItems.title}}</h2>
			</div>
			<div class="row">
				<p class="col-xs-4 originalPrice">Starting Bid ${{activeItems.price}}</p>
				<br>


			</div>

			<div class="row">
				<img data-toggle="modal" data-target="#myModal-{{$index}}" class="col-xs-6 itemImage img-thumbnail img-responsive imghover" ng-src="{{activeItems.image}}"></img>

					<div class="modal fade" id="myModal-{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  						<div class="modal-dialog" role="document">
    						 <div class="modal-content">
    						 	<img class="balls" ng-src="{{activeItems.image}}">
    						 </div>
  						</div>
					</div>

					<div class="col-xs-6">			
						<table class="moreInfo table">
							<tr ng-repeat="(key, value) in activeItems.details">
								<td>{{key}}</td>
								<td>{{value}}</td>
							</tr>
						</table>
					</div>
			</div>
	
			<div class="row priceinfo">
				<div class="col-xs-12">
					<div class="currentBid">Current Bid: ${{activeItems.price}}.00</div>
						<form class="bidSubmit">
							<input ng-model="activeItems.newPrice" class="row" placeholder="New Bid"></input>
							<button ng-click="submitNewBid(activeItems)" class="bidSubmit btn btn-warning">Submit Bid</button>
						</form>
					</div>
				</div>
			</div>
</div>
	

<!-- Legacy Items Preloaded in JS -->
	<div ng-repeat="oldTest in newItems | filter:categoriesFilter | filter:searchText">

		<div id="{{oldTest.category}}" class="container col-xs-5 itemBox">
			<div class="row">
				<h2 class="itemTitle col-xs-12">{{oldTest.title}}</h2>
			</div>
			<div class="row">
				<p class="col-xs-4 originalPrice">Starting Bid ${{oldTest.price[oldTest.price.length - 1]}}</p>
				<br>
<!-- 				<button ng-click="moreInfo()" class="col-xs-4 col-xs-offset-4 btn btn-sm btn-info">More Info</button> -->

			</div>

			<div class="row">
				<img data-toggle="modal" data-target="#myModal-{{$index}}" class="col-xs-6 itemImage img-thumbnail img-responsive imghover" ng-src="{{oldTest.image}}"></img>

					<div class="modal fade" id="myModal-{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  						<div class="modal-dialog" role="document">
    						 <div class="modal-content">
    						 	<img class="balls" ng-src="{{oldTest.image}}">
    						 </div>
  						</div>
					</div>

					<div class="col-xs-6">			
						<table class="moreInfo table">
							<tr ng-repeat="(key, value) in oldTest.details">
								<td>{{key}}</td>
								<td>{{value}}</td>
							</tr>
						</table>
					</div>
			</div>
	
			<div class="row priceinfo">
				<div class="col-xs-12">
					<div class="currentBid">Current Bid: ${{oldTest.price[0]}}.00</div>
						<form class="bidSubmit">
							<input ng-model="oldTest.newPrice" class="row" placeholder="New Bid"></input>
							<button ng-click="submitNewBid(oldTest)" class="bidSubmit btn btn-warning">Submit Bid</button>
						</form>
					</div>
				</div>
			</div>

	</div>

	</div>
	</div>
</body>
</html>