/*.nav-color{
	background-color: none;
	opacity: 0;
}*/

.user-login{
	margin-top:  5px;
	color: red;
	float: right;
}

.image{
	position: absolute;
	width: 100%;
}

.inputEmail{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30%;
	padding: 10px;
	opacity: .9;
}

.login-button:hover {
	color: #e6e6e6;
}
.login-button:active {
	color: #e6e6e6;
}
.login-button:visited {
	color: #e6e6e6;
}

.itemBox{
	border: 1px black solid;
}
.itemImage{
	float: right;
}
.bidBox{
	background-color: red;
}

.row1{
	background-color: blue;
}
.row2{
	background-color: green;
}
.row3{
	background-color: yellow;
}

.balls{
	text-align: left;
}