<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Midterm Project</title>



	<!-- jquery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>

	<!-- angular -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>

	<!-- js -->
	<script type="text/javascript" src="main.js"></script>

	<!-- Underscore -->
	<script type="text/Javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>

	<!-- bootsrap.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>

	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">

	<!-- css -->
	<link rel="stylesheet" type="text/css" href="main.css">

</head>

<body ng-controller="myController">				


	<div class="background-image">
		<img src="assets/background2.jpg" class="image">
	</div>

	<div class="navbuttons">
	<button ng-click="accountNav()" class="btn btn-lg btn-info btn1">Go To My Account</button>
	<button ng-click="dashNav()" class="btn btn-lg btn-success btn2">Browse All Items</button>
	</div>



</body>
</html>